<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tech13;AccountKey=KZHo0gDnvMwebBFqH7Td22OZ7WB7EfWejyoMLdUgpNTFOVE3gXc8Vus9yGMNGdQXLABGNxmeYgg44epaXDaDiA==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>